/target/
**/*.rs.bk
Cargo.lock

__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/
dist/
build/

.ipynb_checkpoints/

/datasets/

.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

*.log
*.tmp
*.swp

target/wheels/